.bulma-wysiwyg-editor {
  resize:vertical;
  overflow:auto;
  border:1px solid silver;
  border-radius:5px;
  min-height:100px;
  box-shadow: inset 0 0 10px silver;
  padding:1em;
  background: white;
  margin: 0 auto;
  width: 90%;
}
